<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<title>Score Card</title>
<style>
body {
	padding: 0px;
	margin: 0px;
	font-family: "Segoe UI", Tahoma, sans-serif;
	background: #f5d9d5;
	color: #ea1c2c;
	height: 100%;
}

marquee {
	background: orange;
	color: #000000;
	padding: 8px;
}

h1 {
	text-align: center;
	font-weight: 700;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px
		rgba(0, 0, 0, 0.2), 0px 18px 23px rgba(0, 0, 0, 0.2);
	font-size: 4.5rem;
}

hr {
	width: 800px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.tl {
	display: block;
}

table {
	position: absolute;
	margin-left: 14%;
	margin-right: 14%;
	background: #ffffff;
	color: #000000;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 68%;
}

td, th {
	border: 1px solid #000000;
	text-align: center;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.lg {
	padding: 0px;
}

footer {
	margin-top: 15%;
	text-align: center;
	color: #000000;
	font-size: 1rem;
	font-weight: 400;
}

a {
	margin-left: 5px;
	text-decoration: none;
	color: #ea1c2c;
	font-size: 16px;
	font-weight: 500;
}
</style><!-- For showing Exception's on same HTML page use this : -->
<!-- <script type="text/javascript">
if(${exception.exceptionMsg} === ""){
	document.getElementById(exp).style.display = 'none';
}
else{
	document.getElementById(exp).style.display = 'block';
}
</script> -->
</head>

<body>
	<marquee>St. Francis Institute Of Technology ( Engineering
		College ), Borivali, Mumbai</marquee>
	<h1>
		<b>Your Score Card :</b>
	</h1>
	<hr>
	<br>
	<br>
	<div class="tl">
		<table>
			<tr>
				<th>Physics</th>
				<th class="lg">Chemistry</th>
				<th>Math</th>
				<th>Total</th>
				<th>Grade</th>
			</tr>
			<tr>
				<td th:text="${scard.Physics}"></td>
				<td th:text="${scard.Chemistry}" class="lg"></td>
				<td th:text="${scard.Math}"></td>
				<td th:text="${scard.Total}"></td>
				<td th:text="${scard.Grade}"></td>
			</tr>
		</table>
	</div>
	<footer>
		<strong>A Score Card Project</strong><br>
		<i>Developed and Designed by : <strong>Panav Yadav</strong></i><br>
		<code>Using SpringBoot v2.2.2.RELEASE</code>
		<br>PID :<strong> 192124</strong><br>
		<br>
		<a href="https://www.sfit.ac.in/index.html">SFIT Home </a><a
			href="https://www.sfit.ac.in/library">SFIT Library</a>
	</footer>
</body>
</html>